labs/BCSF23M511-LAB02.zip
assignment/BCSF23M511_PersonalFinanceV1.zip
assignment/BCSF23M511_PersonalFinanceV1/PersonalFinanaceTracker.py
labs/BCSF23M511-LAB03.zip
.gitignore
quiz/WhatsApp Image 2025-10-22 at 8.50.17 AM.jpeg
